/* #region background */

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: black;
}

main {
    position: relative;
    width: 100%;
    height: 100%;
}

/* #endregion background */


.item {
    width: 300px;
    height: 169px;
    background-color: black;
    list-style-type: none;
    position: absolute;
    top: 75%;
    transform: translateY(-30%);
    z-index: 1;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 20px;
    box-shadow: 0 20px 30px rgba(255, 255, 255, 0.3) inset;
    transition: transform 0.1s, left 0.1s, top 0.75s, width 0.75s, height 0.75s;
}

/* #region carousels */
.item:nth-child(1),
.item:nth-child(2) {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: none;
    border-radius: 0;
    box-shadow: none;
    opacity: 1;
}

.item:nth-child(3) {
    left: 40%;
}

.item:nth-child(4) {
    left: calc(40% + 305px);
}

.item:nth-child(5) {
    left: calc(40% + 610px);
}

.item:nth-child(6) {
    left: calc(40% + 915px);
    opacity: 0;
}

.item:nth-child(7) {
    left: calc(40% + 1220px);
    opacity: 0;
}

.item:nth-child(8) {
    left: calc(40% + 1525px);
    opacity: 0;
}

.item:nth-child(9) {
    left: calc(40% + 1830px);
    opacity: 0;
}

.item:nth-child(10) {
    left: calc(40% + 2135px);
    opacity: 0;
}

.item:nth-child(11) {
    left: calc(40% + 2440px);
    opacity: 0;
}

.item:nth-child(12) {
    left: calc(40% + 2745px);
    opacity: 0;
}

.item:nth-child(13) {
    left: calc(40% + 3050px);
    opacity: 0;
}

.item:nth-child(14) {
    left: calc(40% + 3355px);
    opacity: 0;
}

.item:nth-child(15) {
    left: calc(40% + 3660px);
    opacity: 0;
}

.item:nth-child(16) {
    left: calc(40% + 3965px);
    opacity: 0;
}

.item:nth-child(17) {
    left: calc(40% + 4270px);
    opacity: 0;
}

.item:nth-child(18) {
    left: calc(40% + 4575px);
    opacity: 0;
}

.item:nth-child(19) {
    left: calc(40% + 4880px);
    opacity: 0;
}

.item:nth-child(20) {
    left: calc(40% + 5185px);
    opacity: 0;
}

.item:nth-child(21) {
    left: calc(40% + 5490px);
    opacity: 0;
}

.item:nth-child(22) {
    left: calc(40% + 5795px);
    opacity: 0;
}

.item:nth-child(23) {
    left: calc(40% + 6100px);
    opacity: 0;
}

.item:nth-child(24) {
    left: calc(40% + 6405px);
    opacity: 0;
}

.item:nth-child(25) {
    left: calc(40% + 6710px);
    opacity: 0;
}

.item:nth-child(26) {
    left: calc(40% + 7015px);
    opacity: 0;
}

.item:nth-child(27) {
    left: calc(40% + 7320px);
    opacity: 0;
}

.item:nth-child(28) {
    left: calc(40% + 7625px);
    opacity: 0;
}

.item:nth-child(29) {
    left: calc(40% + 7930px);
    opacity: 0;
}

.item:nth-child(30) {
    left: calc(40% + 8235px);
    opacity: 0;
}

.item:nth-child(31) {
    left: calc(40% + 8540px);
    opacity: 0;
}

.item:nth-child(32) {
    left: calc(40% + 8845px);
    opacity: 0;
}

.item:nth-child(33) {
    left: calc(40% + 9150px);
    opacity: 0;
}

.item:nth-child(34) {
    left: calc(40% + 9455px);
    opacity: 0;
}

.item:nth-child(35) {
    left: calc(40% + 9760px);
    opacity: 0;
}

.item:nth-child(36) {
    left: calc(40% + 10065px);
    opacity: 0;
}

.item:nth-child(37) {
    left: calc(40% + 10370px);
    opacity: 0;
}

.item:nth-child(38) {
    left: calc(40% + 10675px);
    opacity: 0;
}

.item:nth-child(39) {
    left: calc(40% + 10980px);
    opacity: 0;
}

.item:nth-child(40) {
    left: calc(40% + 11285px);
    opacity: 0;
}

.item:nth-child(41) {
    left: calc(40% + 11590px);
    opacity: 0;
}

.item:nth-child(42) {
    left: calc(40% + 11895px);
    opacity: 0;
}

.item:nth-child(43) {
    left: calc(40% + 12200px);
    opacity: 0;
}

.item:nth-child(44) {
    left: calc(40% + 12505px);
    opacity: 0;
}

.item:nth-child(45) {
    left: calc(40% + 12810px);
    opacity: 0;
}

.item:nth-child(46) {
    left: calc(40% + 13115px);
    opacity: 0;
}

.item:nth-child(47) {
    left: calc(40% + 13420px);
    opacity: 0;
}

.item:nth-child(48) {
    left: calc(40% + 13725px);
    opacity: 0;
}

.item:nth-child(49) {
    left: calc(40% + 14030px);
    opacity: 0;
}

.item:nth-child(50) {
    left: calc(40% + 14335px);
    opacity: 0;
}

.item:nth-child(51) {
    left: calc(40% + 14640px);
    opacity: 0;
}

.item:nth-child(52) {
    left: calc(40% + 14945px);
    opacity: 0;
}

.item:nth-child(53) {
    left: calc(40% + 15250px);
    opacity: 0;
}

.item:nth-child(54) {
    left: calc(40% + 15555px);
    opacity: 0;
}

.logo_container {
    width: 90%;
    display: block;
    margin: 0 auto;
}

/* #endregion carousels */

.content {
    width: min(30vw, 400px);
    position: absolute;
    top: 50%;
    left: 3rem;
    transform: translateY(-50%);
    font: 400 0.85rem helvetica, sans-serif;
    color: white;
    text-shadow: 0 3px 8px rgba(0, 0, 0, 0.5);
    opacity: 0;
    display: none;
    z-index: 2;
}

.content img {
    position: absolute;
    top: 80%;
}

.content .title {
    font-family: 'arial-black';
    text-transform: uppercase;
}

.content .description {
    line-height: 1.7;
    margin: 1rem 0 1.5rem;
    font-size: 0.8rem;
}

.content button {
    width: fit-content;
    background-color: rgba(0, 0, 0, 0.1);
    color: white;
    border: 2px solid white;
    border-radius: 0.25rem;
    padding: 0.75rem;
    cursor: pointer;
}

button:hover {
    color: red;
}

.button-active {
    background-color: green !important;
}

.item:nth-of-type(2) .content {
    display: block;
    animation: show 0.75s ease-in-out 0.3s forwards;
}

@keyframes show {
    0% {
        filter: blur(5px);
        transform: translateY(calc(-50% + 75px));
    }

    100% {
        opacity: 1;
        filter: blur(0);
    }
}

/* ARROWS BUTTONS */

.buttons {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 20px;
    z-index: 2;
}

.buttons span {
    position: relative;
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
}

.buttons span:hover {
    opacity: 1;
}

.buttons span::before {
    content: '';
    position: absolute;
    left: 20px;
    width: 10px;
    height: 10px;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    rotate: -45deg;
}

.buttons span:last-child::before {
    content: '';
    position: absolute;
    left: initial;
    right: 20px;
    width: 10px;
    height: 10px;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    rotate: 135deg;
}

/* @media (width > 650px) and (width < 900px) {
    .content {
        & .title {
            font-size: 1rem;
        }

        & .description {
            font-size: 0.7rem;
        }

        & button {
            font-size: 0.7rem;
        }
    }

    .item {
        width: 160px;
        height: 270px;

        &:nth-child(3) {
            left: 50%;
        }

        &:nth-child(4) {
            left: calc(50% + 170px);
        }

        &:nth-child(5) {
            left: calc(50% + 340px);
        }

        &:nth-child(6) {
            left: calc(50% + 510px);
            opacity: 0;
        }
    }
}

@media (width < 650px) {
    .content {
        & .title {
            font-size: 0.9rem;
        }

        & .description {
            font-size: 0.65rem;
        }

        & button {
            font-size: 0.7rem;
        }
    }

    .item {
        width: 130px;
        height: 220px;

        &:nth-child(3) {
            left: 50%;
        }

        &:nth-child(4) {
            left: calc(50% + 140px);
        }

        &:nth-child(5) {
            left: calc(50% + 280px);
        }

        &:nth-child(6) {
            left: calc(50% + 420px);
            opacity: 0;
        }
    }
} */