:root {
    --color-1: #000000;
    --color-2: #D8D8D8;
    --color-3: #75683B;
    --color-4: #F5BA00;
    --background-dark-1: #000000;
    --background-light-2: #D8D8D8;
    --header-background-color-3: #75683B;
    --text-color-2: #D8D8D8;

}